*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto' sans-serif;
  background: rgba(0, 0, .5, 0)
}

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
}


/* -----------------------------Шапка------------------------- */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  min-height: 81px;
  border-bottom: 1px solid #CFCFCF;
}

.basket-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 32px;
}

.basket-icon-counter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: -5px;
  height: 13px;
  min-width: 13px;
  background-color: #3366FF;
  border-radius: 50%;
  font-size: 8px;
  padding: 0 2px;
}

.counter {
  color: white;
}

 .burger {
  display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
  cursor: pointer;
}

.burger span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.burger span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.burger span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.icon-burger-wrapper {
  display: flex;
}

.main-header img {
  cursor: pointer;
}



/* -----------------------------Каталог------------------------- */
.wrapper {
  display: flex;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px 170px 0px 170px;
  width: 100%;
  height: max-content;
}

.catalog-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 300px;
  width: 250px;
  border: 1px solid #E7E7E7;
  padding: 29px 15px 15px 15px;
  border-radius: 5px;
}

.sneakers-name {
  width: 165px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.price {
  margin-left: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


/* -----------------------------Корзина------------------------- */

.aside {
  width: 410px;
  border-left: 1px solid #E7E7E7;
  height: 100vh;
}

.aside.active {
  right: 0;
}

.basket {
  height: 371px;
  padding: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #E7E7E7;
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.basket-title-wrapper {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  margin-left: 40px;
}

.basket-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

.basket-list {
  height: 280px;
  overflow: auto;
}

.basket-list::-webkit-scrollbar {
  visibility: visible;
  width: 4px;
}

.basket-list::-webkit-scrollbar-thumb {
  /* display: block; */
  width: 2px;
  background-color: grey;
  border-radius: 4px;
}



.basket-element {
  display: flex;
  height: 100px;
  width: 305px;
}

.basket-element:not(:last-child) {
  margin-bottom: 40px;
}

.basket-sneakers-name {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
  width: 202px;
}

.basket-element .basket-element-image{
  height: 50%;
  width: 25%;
  margin: 0px 13px 0px 0px;
  align-self: center;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 25px;
  user-select: none;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;
  user-select: none;
}

.plus-wrapper {
  display: flex;
  align-items: center;
}

.basket-item-info-wrapper {
  display: flex;
  flex-direction: column;
}

.quantity {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-right: 17px;
}

.basket-element .delete-basket-item {
  display: flex;
  align-items: flex-start;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.basket-button {
  height: 40px;
  width: 40px;
  background: url(src/icons/white-basket.svg) no-repeat;
  border: none;
  cursor: pointer;
}




/* -----------------------------Промокод------------------------- */
.promo {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 171px;
  width: 410px;
  border-bottom: 1px solid #E7E7E7;
}

.promo-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.promo-input {
  width: 225px;
  height: 40px;
  background-color: #EDEDF1;
  border-radius: 3px;
  margin-right: 10px;
  border: none;
  padding-left: 10px;
}

.promo-button {
  width: 95px;
  height: 40px;
  background-color: #3366FF;
  border: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.input-wrapper {
  width: 410px;
}



/* -----------------------------Итого------------------------- */
.total {
  display: flex;
  justify-content: space-between;
  padding: 40px 55px 0px 40px;
}

.total-titles-wrapper {
  display: flex;
  flex-direction: column;
}

.total-prices-wrapper {
  display: flex;
  flex-direction: column;
}

.total-titles-wrapper span, .total-prices-wrapper span {
  margin-bottom: 15px;
}

.total-title, .total-title-price {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
}

